
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}

:root {
    ----mimonospace: monospace;
    --mi-roboto: 'roboto', 'roboto slab';
    --mi-sans: 'sans', 'sans serif';
    --goo-font: "Libre Baskerville", serif;
     font-weight: 400;
     font-style: normal;

    --goo-font-cursuva:"Dancing Script", "cursive";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
  }
  
  
:root {
    --color-gris-bonito:#b2b2be;
    --color-verde-oscuro: #154c59; 
    --color-verde-m-oscuro: #08262e;/* color: var(--mi-color); */
    --color-crema: #FBE9E7;
    --color-azul-claro: #D2F7FF;
    --color-crema-oscuro:#d9bdaf;
    --color-doradoUno:#ffc600;
    --color-doradoDos:#d9ad26;
    --color-doradoTres:#bf930d;
    --color-oscuroUno: #3d4144;
    --color-oscuroDos: #44494c;
    --color-rosa:#FF6E40;
    --color-gris-claro: #ededed;
    --color-amarillo: #f0d085;
    --color-blanco: #ffffff;
    --color-verde:#979d99;


}

body{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color-blanco);
    
}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-blanco);
   
}

/*AQUI INICIA EL HEADERRRRRRRRRRRR*/

.cabeza{
 width: 100%;    
 background-image: url("../imag/portada.jpg");
 background-repeat:no-repeat;
 background-size: cover;
 padding: 0 12px;
 height: 650px; 
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border: solid 2px var(--color-blanco);
}

.personalLogo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalLogo img{
    width: 30%;
    border-radius: 50%;
   
}

.navegador{
    width:100%;
    height: 15%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    background: transparent;
    backdrop-filter: blur(10px);
  
}

ul{
    display: flex;
    margin: 5px 1px;
    width: 100%;
    flex-direction: row;
   
}

.lista{
    display: flex;
    width: 65%;
    padding: 15px 5px;
    justify-content: end;
    align-items: center;
    position: relative; 
}

a{
    margin:20px 0;
    padding: 10px 1px;
    font-size: 1.2rem;
    border-radius: 10px;
    list-style: none;
    color:var(--color-blanco);
    font-weight: bolder; 
    font-family: var(--goo-font);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-list{
    color:var(--color-blanco); 
    font-weight: 600;
    font-size: 0.8rem;
    background-color: var(--color-rosa);
    width: 18%;
    height:40px;
    border-radius: 10px ;
    border: none;
    margin: 2%;
    font-family:var(--goo-font);
  
}
.puntoRojo{
    position: absolute;
    background-color:var(--color-verde-oscuro);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 23px;
    right: 20px;
}
.a-about{
    z-index: 1;
    color: var(--color-verde-oscuro);
}

.cajalogo{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 70%;
    border-radius: 10px;
    justify-content:start;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);

   
}

.hi{

    align-items: start;
    margin-bottom: 1%;
    padding: 5px 5px 2px 0px;
    color: var(--color-blanco);
    font-size: 1rem;
    font-family: var(----mimonospace);
    font-weight: 100;
    letter-spacing: 3px;
}

.dev{
    align-items: center;
    color: var(--color-blanco);
    padding-top: 5px;
    font-size: 1rem;
    font-family: var(----mimonospace);
    font-weight: 100;
    letter-spacing: 2px;
}

.mi-nombre{
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--goo-font-cursuva);
    color: var(--color-rosa);
    letter-spacing: 3px;

}

.btn-cv{
    display: flex;
    width: 35%;
    height: 35px;
    text-decoration: none;
    color: var(--color-blanco);
    border: solid 1px var(--color-rosa);
    font-size: 0.9rem;
    text-decoration: none;
}

/* aqui estan los HOVER hover y clase del nav y header  aqui abajo*/
.puntoRojo:hover{
    background-color:var(--color-rosa);
}
a:hover{
    color: var(--color-rosa);
    font-size: 1.1rem;
    text-decoration: underline solid 2px var(--color-rosa);
}
.btn-list:hover{
    font-size: 0.9rem;
    background-color:var(--color-blanco);
    color: var(--color-rosa);
    border: solid 2px var(--color-rosa);
}
.imagenLogoPequeño:hover{
    width: 30%;
    border: solid 2px var(--color-rosa);
}
.logo{

    width: 100%;
    height: 65%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    justify-content: start;

}
.btn-cv:hover{
    font-size: 0.8rem;
    text-decoration: none;
}


/*AQUI INICIA EL ABOUUUT MEEEEEEEE*/
/*acerca de*/

.imagenParaPerfil{
    width: 40%;
    display: flex;
    
}

.imagenParaPerfil img{
    width: 100%;
   
   
}
.contenedor-de-conedor-de-about{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    height: 100%;
    
}

.contenedor-Acerca-de{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px; 
    background-color: var(--color-blanco);
}
.textoPrincipal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.texto-about{
    width:70%;
    height: 80%;
    padding:5px;
    font-size:1rem; 
    color: var(--color-oscuroUno);
    font-family: sans-serif;
    letter-spacing: 3px;
}
.contenedor-about{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.h-About{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 9rem;
    letter-spacing: 5px;
    justify-content: center;
    align-items: end;
    color: var(--color-rosa);
    font-family: var(--goo-font-cursuva);
}


/*AQUI INICIAN LAS HABILIDADES CURSOS*/
.contenedor-padre-Hab{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height:600px;
 background-color: var(--color-azul-claro);
}
.contenedor-head-hab{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    position: relative;
    border-radius: 5px;
   
}
.head-hab{
    font-size:6rem;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    color: var(--color-rosa);
    position: absolute;
    letter-spacing: 5px;
    z-index: 1;
    bottom: -25px;
    
    
}
.head-hab::first-letter{
    font-size: 6rem;
}

.contenedor-de-las-habilidades{ 
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius:50%;
    font-size: 0.8rem;
    font-family: var(--goo-font);
    color: var(--color-verde-m-oscuro);
}

.html-hab{
    background-color: #86addc;
}
.css-hab{
    background-color: #ff9d93;
}
.js-hab{
    background-color: #f6efc2;
}
.bootstrap-hab{
    background-color: #f0bdfe;

}
.figma-hab{
    background-color: #ffacc2;
}
.canva-hab{
    background-color: #9edfea;
}
.git-hab{
    background-color: var(--color-gris-bonito);
}
.flex-hab{
    background-color: #c1dcd9;
}
.grid-hab{
    background-color: #8ac3a6;
}

/*AQUI INICIA LA EDUCACION*/

.formacion{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: var(--color-blanco);
}

.headEduc{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.head-e-formacion{
    display: block;   
    width: 100%;    
    font-size:6rem;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    font-weight: 700;
    color: var(--color-rosa);
    letter-spacing: 4px;
}
.head-e-formacion::first-letter{
    font-size: 8rem;

}    

.formacionRow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.contenedor-de-los-cursos{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.contenedor-img-curso{
 display: flex;   
 align-items: end;
 justify-content: center;
 width: 175px;
 height: 275px;
}

.imagenCurso{
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    border-radius: 5% 40%;
    border: solid 4px var(--color-azul-claro);
}

.contenedo-de-btn-texto-curso{
    width: 100%;   
    display: flex;
    flex-direction: column;
    position: relative;
}
.contenedor-curso{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57%;
    height: 20px;
    padding: 10px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-family: var(--mi-sans);
    color: var(--color-blanco);
    background: var(--color-rosa);
    position: absolute;
    bottom: 70px;
    border-radius: 8px;
}

.contenedor-btn-c{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 2%;
   
   
}
.boton-curso{
    width: 55%;
    border-radius: 10px 20px;
    color: var(--color-rosa);
    background-color:var(--color-blanco);
    border: solid 1px var(--color-rosa);
    font-weight: 600;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;


}

/*AQUI INICIA LA SECCION PROYECTOS*/

.headDos{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    width: 100%;
    height: 200px;
    background-color: var(--color-azul-claro);       
}
.h-de-proyectos{
    display:inline-block;   
    width: 100%;
    height: 100px;   
    font-size:8rem;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    font-weight: 700;
    font-style: normal;
    color: var(--color-rosa);
    background-color: var(--color-azul-claro);
    letter-spacing:6px;
}

.h-de-proyectos::first-letter{
 font-size: 9rem;
 
}

.contenedor-proyectos{
    display: flex;
    width: 100%;
    height: 900px;
    justify-content: center;
    background-color: var(--color-azul-claro);
   
   
}

.cajaProyectos{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 75%;
    height: 100%;   
    box-sizing: border-box;
    justify-content: space-between;
}

.proyecto{
    box-sizing: border-box;
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    justify-content: space-between; 
   
}


.textoProyecto{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
}

.hProyectos{ 
 display: block;
 color: var(--color-verde-oscuro);
 font-size: 1.5rem;
 height: 30%;
 letter-spacing: 3px;
 font-family: var(--goo-font-cursuva);
}

.hProyectos::first-letter{
    font-size: 3.5rem;
}

.pProyectos{
 font-size: 0.8rem;
 width: 70%;
 height: 40%;
 letter-spacing: 2px;
 font-family: var(----mimonospace);
 color: var(--color-oscuroUno);

}
.pProyectos::first-letter{
    font-size: 1rem;
}

.contenedor-btn-proyectos{
    display: flex;
    justify-content: start;
    width: 70%;
   
}

.btn-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 30px;
    color: var(--color-blanco);
    background-color: var(--color-verde-oscuro);
    font-family: var(----mimonospace);
    border-radius: 10px;
    border: none;

}

.contenedor-img-proyecto{
  width:300px;
  height: 300px; 
  background-color:var(--color-crema-oscuro);
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  border: solid 3px var(--color-blanco);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.imagenProyectos{
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50% 1%;
    top: 15%;
    right: 20%;
    border: solid 6px var(--color-blanco);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.imagenProyectos-dos{
    width: 90%;
    height: 90%;
    position: absolute; 
    border-radius: 1% 50%;
    top: 15%;
    left: 25%;
    border: solid 10px var(--color-blanco);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}  

/*contenedor de contactos*/
.contenedor-contactos{
	background-size:cover;
    display: flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    height: 550px;
    justify-content: space-between;
    border-left: solid 2px var(--color-crema-oscuro);
    border-right: solid 2px var(--color-crema-oscuro);
    border-top: solid 5px var(--color-crema-oscuro);
    border-bottom: solid 5px var(--color-crema-oscuro);
    background-color: #08262e;
    border-radius: 8px;
}
#particles-js{
  
   
}

/*contenedor del texto del contado*/

.contenedor-hyp-contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 10px;
}
.hcinco-hyp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.hContactos-uno{
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-verde-oscuro);
    font-family: var(--goo-font-cursuva);
    letter-spacing: 2px;
}
.hContactos-uno::first-letter{
    font-size:5rem ;
}

.p-contactos-{
    color:var(--color-verde-m-oscuro);
    width: 100%;
    height: 50%;
    font-family: var(----mimonospace);
    font-size: 0.8rem;
    letter-spacing: 1px
}

/*contenedor de formulario*/

.contactos{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hContactos{
    color: var(--color-rosa);
    font-size: 1.8rem;
    margin: 10px 0 25px 0;
    font-family: var(--goo-font-cursuva);
}
.hContactos::first-letter{
    font-size: 2rem;
}

.contact-form {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background: blur(transparent);
    border: 2px solid var(--color-crema-oscuro);
    border-radius: 10px;
    float: right;
}

.contact-form label{
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"]
{
    width: 100%;
    margin: 10px 5px 5px 5px;
    padding: 15px 15px 10px 15px;
    outline: none;
    border-radius: 5px;
}

input[type="email"],
input[type="text"]:focus {
    outline: none;
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--color-crema-oscuro);
    
}
::placeholder{
    color: var(--color-gris-bonito);
    font-size: 0.8rem;
    font-family: var(----mimonospace);
}

input:focus::placeholder {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    font-size: 10px;
   
 
}

textarea:focus::placeholder {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    font-size: 10px;
    margin-top: 30px;
    font-family: var(----mimonospace);
 
}
.contact-form textarea {
   resize: vertical;
   outline: none;
   border: none;
   font-family: var(----mimonospace);
   font-size: 1rem;
}

.contact-form textarea {
    width: 100%;
    height: 80px;
    padding: 40px 15px 10px 15px;
    outline: none;
    font-size: 0.7rem;
    border-radius: 5px;
    border-bottom: 1px solid var(--color-crema-oscuro);
}

.btn-form{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}


.contact-form button {
    width: 50%;
    height: 60%;
    padding: 5px;
    background-color:var(--color-blanco);
    border: solid 2px var(--color-rosa);
    font-size: 1rem;
    color: var(--color-rosa);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(----mimonospace);
}
    

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:var(--color-crema-oscuro); 
    border-radius: 5px 5px 0 0;
}

.copy{
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color:var(--color-blanco);
    border-top: solid 1px var(--color-gris-bonito);
    font-size: 0.7rem;
    font-family: var(----mimonospace);
}

.icon{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.iconosFooter{
 width: 40px;
 border-radius: 50%;

}




