
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;    
}

:root {
    ----mimonospace: monospace;
    --mi-roboto: 'roboto', 'roboto slab';
    --mi-sans: 'sans', 'sans serif';
    --goo-font: "Libre Baskerville", serif;
     font-weight: 400;
     font-style: normal;

    --goo-font-cursuva:"Dancing Script", "cursive";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
  }
  
  
:root {
    --color-gris-bonito:#b2b2be;
    --color-verde-oscuro: #154c59; 
    --color-verde-m-oscuro: #08262e;/* color: var(--mi-color); */
    --color-crema: #FBE9E7;
    --color-azul-claro: #D2F7FF;
    --color-crema-oscuro:#d9bdaf;
    --color-doradoUno:#ffc600;
    --color-doradoDos:#d9ad26;
    --color-doradoTres:#bf930d;
    --color-oscuroUno: #3d4144;
    --color-oscuroDos: #44494c;
    --color-rosa:#FF6E40;
    --color-gris-claro: #ededed;
    --color-amarillo: #f0d085;
    --color-blanco: #ffffff;
    --color-verde:#979d99;


}

body{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color-blanco);
    
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-blanco);
   
}

/*AQUI INICIA EL HEADERRRRRRRRRRRR*/

.cabeza{
 width: 100%;    
 background-image: url("../imag/portada.jpg");
 background-repeat:no-repeat;
 background-size: cover;
 height: 650px; 
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border: solid 2px var(--color-blanco);
}

.personalLogo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personalLogo img{
    width: 30%;
    border-radius: 50%;
   
}

.navegador{
    width:95%;
    height: 15%;
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    background: transparent;
    backdrop-filter: blur(10px);
    color:var(--color-blanco);
    position: fixed;
    
}




ul{
    display: flex;
    box-sizing: border-box;
    margin: 5px 0px;
    width: 100%;
    flex-direction: row;
}

.lista{
    display: flex;
    box-sizing: border-box;
    width: 55%;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    position: relative; 
}


a{
    margin:20px 0;
    padding: 10px 1px;
    font-size: 18px;
    border-radius: 10px;
    list-style: none;
    color:var(--color-blanco);
    font-weight: bolder; 
    font-family: var(--goo-font);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-list{
    color:var(--color-blanco); 
    font-weight: 600;
    font-size: 0.8rem;
    background-color: var(--color-rosa);
    width: 18%;
    height:40px;
    border-radius: 10px ;
    border: none;
    margin: 2%;
    font-family:var(--goo-font);
  
}

.contenedor-menu-header{
    width: 20%;
    display: none;
    
}

.menu-header{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.a-about{
    z-index: 1;
    color: var(--color-verde-oscuro);
}

.cajalogo{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
    border-radius: 10px;
    justify-content:start;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);

   
}

.hi{

    align-items: start;
    margin-bottom: 1%;
    padding: 5px 5px 2px 0px;
    color: var(--color-blanco);
    font-size: 1rem;
    font-family: var(----mimonospace);
    font-weight: 100;
    letter-spacing: 3px;
}

.dev{
    align-items: center;
    color: var(--color-blanco);
    padding-top: 5px;
    font-size: 1rem;
    font-family: var(----mimonospace);
    font-weight: 100;
    letter-spacing: 2px;
}

.mi-nombre{
    justify-content: center;
    font-size: 64px;
    font-weight: bolder;
    font-family: var(--goo-font-cursuva);
    color: var(--color-rosa);
    letter-spacing: 3px;
    
}

.btn-cv{
    display: flex;
    width: 35%;
    height: 35px;
    text-decoration: none;
    color: var(--color-blanco);
    border: solid 1px var(--color-rosa);
    font-size: 14px;
    text-decoration: none;
}

/* aqui estan los HOVER hover y clase del nav y header  aqui abajo*/
.puntoRojo:hover{
    background-color:var(--color-rosa);
}
a:hover{
    color: var(--color-rosa);
    font-size: 1.1rem;
    text-decoration: underline solid 2px var(--color-rosa);
}
.btn-list:hover{
    font-size: 0.9rem;
    background-color:var(--color-blanco);
    color: var(--color-rosa);
    border: solid 2px var(--color-rosa);
}
.imagenLogoPequeño:hover{
    width: 30%;
    border: solid 2px var(--color-rosa);
}
.logo{

    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    justify-content: start;
    align-items: end;

}
.btn-cv:hover{
    font-size: 0.8rem;
    text-decoration: none;
}


/*AQUI INICIA EL ABOUUUT MEEEEEEEE*/
/*acerca de*/

.imagenParaPerfil{
    width: 40%;
    display: flex;
    align-items: end;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));
  
    
}

.imagenParaPerfil img{
    width: 100%;
    height: 90%;
}
.contenedor-de-conedor-de-about{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    height: 100%;
    
}

.contenedor-Acerca-de{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px; 
    background-color: var(--color-blanco);
}
.textoPrincipal{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.texto-about{
    width:70%;
    height: 80%;
    padding:5px;
    font-size:1rem; 
    color: var(--color-oscuroUno);
    font-family: sans-serif;
    letter-spacing: 3px;
}
.contenedor-about{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.h-About{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 110px;
    letter-spacing: 5px;
    justify-content: center;
    align-items: end;
    color: var(--color-rosa);
    font-family: var(--goo-font-cursuva);
}


/*AQUI INICIAN LAS HABILIDADES CURSOS*/
.contenedor-padre-Hab{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height:600px;
 background-color: var(--color-azul-claro);
}
.contenedor-head-hab{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    position: relative;
    border-radius: 5px;
   
}
.head-hab{
    font-size:90px;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    color: var(--color-rosa);
    position: absolute;
    letter-spacing: 5px;
    z-index: 1;
    bottom: -25px;
    
    
}
.head-hab::first-letter{
    font-size: 96px;
}

.contenedor-de-las-habilidades{ 
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius:50%;
    font-size: 0.8rem;
    font-family: var(--goo-font);
    color: var(--color-verde-m-oscuro);
}

.html-hab{
    background-color: #86addc;
}
.css-hab{
    background-color: #ff9d93;
}
.js-hab{
    background-color: #f6efc2;
}
.bootstrap-hab{
    background-color: #f0bdfe;

}
.figma-hab{
    background-color: #ffacc2;
}
.canva-hab{
    background-color: #9edfea;
}
.git-hab{
    background-color: var(--color-gris-bonito);
}
.flex-hab{
    background-color: #c1dcd9;
}
.grid-hab{
    background-color: #8ac3a6;
}

/*AQUI INICIA LA EDUCACION*/

.formacion{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: var(--color-blanco);
}

.headEduc{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.head-e-formacion{
    display: block;   
    width: 100%;    
    font-size:90px;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    font-weight: 700;
    color: var(--color-rosa);
    letter-spacing: 4px;
}
.head-e-formacion::first-letter{
    font-size: 96px;

}    

.formacionRow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

/*AQUI INICIA LA SECCION PROYECTOS*/

.contenedor-de-los-cursos{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.contenedor-img-curso{
 display: flex;   
 align-items: end;
 justify-content: center;
 width: 175px;
 height: 275px;
}

.imagenCurso{
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    border-radius: 5% 40%;
    border: solid 4px var(--color-azul-claro);
}

.contenedo-de-btn-texto-curso{
    width: 100%;   
    display: flex;
    flex-direction: column;
    position: relative;
}
.contenedor-curso{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57%;
    height: 20px;
    padding: 10px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-family: var(--mi-sans);
    color: var(--color-blanco);
    background: var(--color-rosa);
    position: absolute;
    bottom: 70px;
    border-radius: 8px;
}

.contenedor-btn-c{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 2%;
   
   
}
.boton-curso{
    width: 55%;
    border-radius: 10px 20px;
    color: var(--color-rosa);
    background-color:var(--color-blanco);
    border: solid 1px var(--color-rosa);
    font-weight: 600;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;


}

/*LA SECCION PROYECTOS*/

.headDos{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    width: 100%;
    height: 200px;
    background-color: var(--color-azul-claro);       
}
.h-de-proyectos{
    display:inline-block;   
    width: 100%;
    height: 100px;   
    font-size:64px;
    text-align: center;
    font-family: var(--goo-font-cursuva);
    font-weight: 700;
    font-style: normal;
    color: var(--color-rosa);
    background-color: var(--color-azul-claro);
    letter-spacing:6px;
}

.h-de-proyectos::first-letter{
 font-size: 70px;
 
}

.contenedor-proyectos{
    display: flex;
    width: 100%;
    height: 1000px;
    padding: 0px 0px 50px;
    justify-content: center;
    background-color: var(--color-azul-claro);
}

.cajaProyectos{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 75%;
    height: 100%;   
    box-sizing: border-box;
    justify-content: space-between;
}

.proyecto{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 275px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    background-color: var(--color-blanco);
}


.textoProyecto{
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: space-evenly;
   align-items: center;
   width: 40%;
   height: 250px;
   
}

.hProyectos{ 
 text-align: center;
 font-size:20px ;
 color: var(--color-oscuroUno);
 font-family: var(--goo-font-cursuva);
 letter-spacing: 2px;
}

.hProyectos::first-letter{
    font-size: 48px;
    color: var(--color-rosa);
}

.pProyectos{
 font-size: 16px;
 font-family: var(--goo-font);
 color: var(--color-oscuroUno);
 font-weight: 100;
}

.pProyectos::first-letter{
    font-size: 20px;
}

.contenedor-btn-proyectos{
   display: flex; 
   width: 100%;
   height: 40px;
   
}

.btn-proyectos{
    width: 50%;
    font-family: var(--goo-font);
    font-weight: 500;
    font-size: 16px;
    border-radius: 40px 10px;
    border: solid 2px var(--color-blanco);
    background-color: var(--color-rosa);
    color: var(--color-blanco);

}

.contenedor-img-proyecto{
  width: 40%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
 

}

.imagenProyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 175px;
    border-radius: 10px;
    position: relative;
    filter: brightness(50%);
   
}
.imagenProyectos-dos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 175px;
    border-radius: 10px;
    position: relative;
    filter: brightness(50%);
} 
.contenedor-txt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 175px;
    height: 75px;
    font-family: var(--mi-sans);
    font-weight: normal;
    border-radius: 10px;
    color: var(--color-blanco);
    border: solid 3px var(--color-blanco);
}


/*contenedor de contactos*/
.contenedor-contactos{
	background-size:cover;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 400px; 
    
}


/*contenedor del texto del contado*/

.contenedor-hyp-contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 70%;
    margin: 10px;
    background-image: url("../imag/bgContactos.png");
    background-size:500px 400px;
    background-repeat:no-repeat;
}
.hcinco-hyp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.hContactos-uno{
    width: 100%;
    font-size: 2rem;
    color: var(--color-rosa);
    font-family: var(--goo-font-cursuva);
    letter-spacing: 2px;
}
.hContactos-uno::first-letter{
    font-size:4rem ;
}

.p-contactos-{
    color:var(--color-oscuroUno);
    width: 100%;
    height: 50%;
    font-family: var(--goo-font);
    font-weight: 100;
    font-size: 0.8rem;
    letter-spacing: 2px
}

/*contenedor de formulario*/

.contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-wrap: nowrap;
}

.hContactos{
    color: var(--color-rosa);
    font-size: 1.8rem;
    font-family: var(--goo-font-cursuva);
}
.hContactos::first-letter{
    font-size: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    max-width: 350px;
    padding: 20px 35px;
    background: blur(transparent);
    border: 3px solid var(--color-rosa);
    border-radius: 10px;
    float: right;
    flex-wrap: nowrap;
}

.contact-form label{
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"]
{
    width: 100%;
    margin: 10px 5px 5px 5px;
    padding: 15px 15px 10px 15px;
    outline: none;
    border-radius: 5px;
}

input[type="email"],
input[type="text"]:focus {
    outline: none;
}

input {
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--color-crema-oscuro);
    
}
::placeholder{
    color: var(--color-gris-bonito);
    font-size: 0.8rem;
    font-family: var(--goo-font);
    font-weight: 100;
}

input:focus::placeholder {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    font-size: 10px;
   
 
}

textarea:focus::placeholder {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    font-size: 10px;
    margin-top: 30px;
    font-family: var(--goo-font);
 
}
.contact-form textarea {
   resize: vertical;
   outline: none;
   border: none;
   font-family: var(--goo-font);
   font-size: 1rem;
}

.contact-form textarea {
    width: 100%;
    height: 80px;
    padding: 40px 15px 10px 15px;
    outline: none;
    font-size: 0.7rem;
    border-radius: 5px;
    border-bottom: 1px solid var(--color-crema-oscuro);
}

.btn-form{
    margin-top: 10px;
    width: 100%;

}

.contact-form button {
    width: 70%;
    height: 60%;
    padding: 5px;
    background-color:var(--color-rosa);
    border: solid 2px var(--color-rosa);
    font-size: 1rem;
    color: var(--color-blanco);
    border-radius: 40px 10px;
    cursor: pointer;
    font-family: var(--goo-font);
}
    
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:var(--color-azul-claro); 
}

.copy{
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color:var(--color-oscuroDos);
    font-size: 0.6rem;
    font-family: var(--goo-font);
}

.icon{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.iconosFooter{
 width: 35px;
 border-radius: 50%;

}

.contenedor-hab-800{
 display: none;
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height:600px;
 background-color: var(--color-azul-claro);
}




/* MEDIA QUERYYYYSSSSSSSSSSSSSSS*/

/*telefono*/
@media (width < 676px){
    .dev{
        font-size: 12px;
    }
    .mi-nombre{
        font-size: 20px;
    }
    .about {
        display: none;
        position: absolute;
    }
    .proyects {
        display: none;
        position: absolute;
    }
    .skills{
        display: none;
        position: absolute;
    }
    .btn-list{
        font-weight: normal;
        width: 50%;
    }
    .lista{
        width: 60%;
    }

    .contenedor-menu-header{
        display: contents;
       
    }
    .menu-header{
     width: 25%;  
       
    
    }
    .cabeza{
        height: 300px;
    }
    .navegador{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
    .btn-cv{
        width: 80%;
    }
    .contenedor-about{
        height: 30%;
    }
    .logo{
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .cajalogo {
        width: 80%;
        height: 60%;

    }
    .imagenParaPerfil{
        width: fit-content;
        display: none;
    }
    .contenedor-de-conedor-de-about{
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .contenedor-Acerca-de{
        display: flex;
        height: 220px;
        padding: 10px;
    }
    .h-About{
        padding-top: 80px;
        font-size: 50px;
        width: 100%;
        height: 100%;
        
    }
    .textoPrincipal{
        padding: 10px 5px 0 5px;
        height: 320px;
    }
    .texto-about{
        font-size: 10px;
        width: 100%;
        height: 95%;
    }
    .head-hab{
        font-size: 30px;
        bottom: 30px;
       
    }
    .contenedor-hab-800{
        display: flex;
        height: 475px;
        justify-content: space-evenly;
    }
    .contenedor-de-las-habilidades{
        height: 100px;
    }
    .skill{
        width: 70px;
        height: 70px;
        font-size: 12px;
    }
    .flex-hab{
        display: none;
    }
    .contenedor-padre-Hab{
        display: none;
    }
    .head-e-formacion{
        font-size: 40px;
    }
    .headEduc{
        height: 150px;
    }

    .formacion{
        margin-top: 0;
        height: 1200px;
        
    }
    .formacionRow{
        display: flex;
        flex-direction: column;
    }
    .contenedor-de-los-cursos{
        width: 100%;
        padding-top: 20px;
        
    }
    .contenedor-img-curso{
        width: 150px;
        height: 200px;
        
    }
    .proyecto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .textoProyecto{
        height: 20%;
        width: 100%;
    }
    .pProyectos{
        display: none;
    }
    .contenedor-btn-proyectos{
        display: none;
    }
    .hProyectos{
        display: flex;
        
    }
    .contenedor-img-proyecto{
        width: 100%;
        height: 60%;
    }
    .imagenProyectos{
        width:90%;
       
    }
    .imagenProyectos-dos{
        width:90%;
       
    }
    .contenedor-contactos{
        width: 100%;
        align-items: center;
    }
    .contenedor-hyp-contactos{
        display: none;
    }
    .contactos{
       width: 100%;
       height: 85%;
    }
    .hContactos{
        font-size: 28px;
    }
    .contact-form{
       height: 100%;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"]
    {
        padding: 15px 15px 10px 15px;
    }
    .contact-form textarea {
        height: 60px;
    }
    .btn-form{
        margin-top: 10px;
    }
    .contact-form button {
        height: 40%;
    }


};

/*tablet*/
@media (width <= 850px){
    .mi-nombre{
        font-size: 30px;
    }

    .dev{
        font-size: 16px;
    }
    .h-About{
        font-size: 80px;
        
    }
    .btn-cv{
        width: 70%;
    }
    .lista{
        width: 80%;
        justify-content: end;
        margin-right: 30px;
        margin-left: 0px;
    }
    .cabeza{
        height: 450px;
    }
    .contenedor-menu-header{
        display: none;
    }
    .contenedor-Acerca-de{
        height: 450px;
        flex-wrap:nowrap;
    }
    .contenedor-padre-Hab{
        height: 500px;
       display: none;
    }

    .contenedor-hab-800{
        height: 500px;
        display: contents;
        display: flex;
        flex-direction: column;
       
        
    }

    .contenedor-de-las-habilidades{
        height: 200px;
    }
    .contenedor-about{
        height: 40%;
    }
    .textoPrincipal{
        height: 60%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .texto-about{
        width: 90%;
        height: 90%;
    }

    .head-hab{
        font-size: 60px;
        bottom: unset;
    }
    .formacion{
        height: 600px;
    }
    .formacionRow{
        display: flex;
    }
    .contenedor-de-los-cursos{
        width: 25%;
    }
   
    .contenedor-img-curso{
        width: 150px;
        height: 250px;
    }

    .boton-curso{
        width: 60%;
    }
    .cursos{
        width: 70%;
        font-size: 12px;
    }
    .contenedor-contactos{
        width: 100%;
    }
};

/*desktop*/
@media (width < 1000px) {
   .mi-nombre{
    font-size: 50px;  
    }
    .btn-cv{
        width: 50%;
    }
    .lista{
        width: 70%;
    }
    .imagenParaPerfil img{
        height: 80%
    }
    .texto-about {
        width: 95%;
    }
    
};





